[Unit]
Description=Lighthouse Beacon Node
After=network.target
Wants=network.target

[Service]
User=lighthousebeacon
Group=lighthousebeacon
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/lighthouse beacon_node \
                --disable-upnp \
                --datadir /var/lib/lighthouse/beacon-node \
                --network mainnet \
                --http \
                --metrics \
                --graffiti "flippening in progress" \
                --execution-jwt /var/lib/lighthouse/beacon-node/beacon/jwtsecret \
                --execution-endpoint http://localhost:8551 \
		--builder http://127.0.0.1:18550 \
                --suggested-fee-recipient 0x21dbb7ef559f800C8F2D45C13C413832BBF9b1DA

[Install]
WantedBy=default.target
